doctype html
html(lang=lang)
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    script(
      sync
      src="https://www.googletagmanager.com/gtag/js?id=UA-131430135-1"
    )
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-131430135-1');

    meta(
      name="viewport"
      content="width=device-width,initial-scale=1.0,maximum-scale=1.0"
    )

    //- Google Fonts
    link(
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:400,300"
    )
    link(
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&subset=japanese"
    )

    //- Icons
    link(rel="icon" type="image/svg+xml" href="icon.svg")
    link(rel="icon" type="image/png" href="icon.png")
    link(rel="apple-touch-icon" href="icon.png")

    //- link(rel="manifest" href="manifest.json")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    )

    title Uctoth
    meta(name="description" content=description)

  body
    p.intro= description

    noscript
      strong= noscript 

    #app

    svg#svg-defs
      defs
        linearGradient#disc-black(x1="0" y1="0" x2="0" y2="1")
          stop(offset="0" stop-color="#181818")
          stop(offset="1" stop-color="#080808")
        linearGradient#disc-white(x1="0" y1="0" x2="0" y2="1")
          stop(offset="0" stop-color="#ddd")
          stop(offset="1" stop-color="#bbb")
